html {
    height: 100%;
}

body{
    background:linear-gradient(white, black);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: pink; */
}

.flex div{
    margin:auto;
    text-align:center;
}

#right{
    margin-top: 0%;
    margin-right: 60%;
}

#left{
    margin-top: 0%;
    margin-right: -10%;
    background-color: #ffffff80;
    box-shadow: 0 0 5px black;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

canvas{
    position: absolute;
    margin-top: 0px;
    margin-right: 0px;
}
#myCanvas{
    z-index: 1;
}
#tmpCanvas{
    z-index: 0;
    background-color: white;
    box-shadow: 0 0 5px black;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
      
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: grey;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    cursor: pointer;
}

label{
    display: inline-block;
}

a{
    display: inline-block;
}

.btn{
    width: 50px;
    height: 50px;
    padding: 5px;
    outline: none;
}